APP_NAME="Veylo API"
NODE_ENV=development
APP_DEBUG=true
PORT=4000
APP_URL=https://api.veylo.com:4000
APP_DOMAIN="veylo.com"
FRONTEND_URL="https://veylo.com:3000"
RATE_LIMIT=1.5
ALLOWED_ORIGINS=https://veylo.com:3000,https://localhost:3000
CORS_CREDENTIALS=true

# Local SSL (mkcert)
# SSL_KEY_PATH="./certs/key.pem"
# SSL_CRT_PATH="./certs/cert.pem"

DATABASE_URL="postgresql://postgres:root@localhost:5432/veylo?schema=public&options=-c%20timezone%3DUTC"

BETTER_AUTH_SECRET="change_me_min_32_chars"
# Recommended: set explicitly (avoid request-inferred origins)
BETTER_AUTH_URL="https://api.veylo.com:4000"

# Social Auth (Better Auth)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URL="https://api.veylo.com:4000/api/v1/auth/callback/google"

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# Optional: enable Better Auth secondary storage (Redis) for caching/rate-limit.
AUTH_SECONDARY_STORAGE_ENABLED=true

# Frontend redirect base URLs for email flows (Next.js)
AUTH_EMAIL_VERIFICATION_REDIRECT="https://veylo.com:3000/verify-email"
AUTH_RESET_PASSWORD_REDIRECT="https://veylo.com:3000/reset-password"

REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_USERNAME="default"
REDIS_PASSWORD="redis"
REDIS_PREFIX="veylo_redis_local"

# Mail (Laravel-style)
MAIL_MAILER="smtp" # smtp | resend
MAIL_FROM_ADDRESS="no-reply@example.com"
MAIL_FROM_NAME="Veylo"

# SMTP (Nodemailer)
MAIL_HOST="127.0.0.1"
MAIL_PORT=587
MAIL_USERNAME=""
MAIL_PASSWORD=""
MAIL_ENCRYPTION="tls" # tls | ssl | none

# Resend
RESEND_API_KEY=""

# Mail queue (BullMQ)
MAIL_QUEUE_NAME="mail"
MAIL_QUEUE_PREFIX="mail"
MAIL_QUEUE_ATTEMPTS=5
MAIL_QUEUE_BACKOFF_MS=5000
MAIL_QUEUE_FALLBACK_TO_SEND=true
